*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
  background-color: black;
  color: #00ff80;
  text-align: center;
  font-family: michroma;
}


.images {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  justify-self:center;
  gap:space-evenly;
}

.images:hover {
  cursor:pointer;
  background-color: blue; opacity: 0.8;
}

.button {
  background-color: #00ff80;
  color:black;
  padding: 10px;
  border-radius: 1rem;
}

.button:hover {
  background-color: #91fcc7;
  color:black;
  padding: 10px;
}