*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
  background-color: black;
  color: #00ff80;
  text-align: center;
  font-family: michroma;
}

/*desktop media query*/
  
.images {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: space-evenly;
  justify-items: center;
  
}

.pics {
  display: grid;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  gap: space-between;
  
}

.images:hover {
  cursor:pointer;
  opacity: 0.8;
}

.button {
  background-color: #00ff80;
  color:black;
  padding: 10px;
  border-radius: 1rem;
}

.button:hover {
  background-color: #91fcc7;
  color:black;
  padding: 10px;
}